sudo: required

services:
  - docker

language: node_js

script:
  - npm run lint
  - npm run test

after_success:
  - npm run test:coverage

after_success: npm run test:coverage

node_js:
  - "8.9.4"
