sudo: required

language: node_js

cache:
  npm: false
  directories: false

node_js:
  - '8.9.4'
  - '9'
  - '10'
  - '11'

after_success:
  - npm run test:coverage

jobs:
  include:
    - stage: release
      node_js: lts/*
      deploy:
        provider: script
        skip_cleanup: true
      script:
        - npm run lint
        - npm run test
        - npx semantic-release
